/* --------------Utilities or Common Style-------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-title {
    font-weight: 700;
    font-size: 2.9em;
}

img {
    height: 100%;
    width: 100%;
}

.primary-description {
    font-size: 16px;
    color: #727272;
    padding: 30px 0;
}

.primary-btn {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50px;
}

/* Header style */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* ----------- Navbar Style----------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

.nav-title {
    color: #131313;
}

.menu-container ul {
    display: flex;
    gap: 40px;
}

.menu-container ul li {
    list-style: none;
}

.menu-container ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* -----------Here Start Bannar Style--------- */
.banner {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.banner-info {
    max-width: 860px;
    width: 90%;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    padding: 30px 0;
}

.banner img {
    padding-bottom: 45px;
}

/* Here Start Main Section */
.quick-feature-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    max-width: 1320px;
    width: 95%;
    min-height: 710px;
    height: 100%;
    margin: 100px auto 0;
}

.quick-feature-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 55%;
}

.quick-feature-info {
    width: 45%;
}

.gray-name {
    font-weight: 500;
    color: #727272;
}

.golden-name {
    color: #FF900E;
}

/* here start feature section style */
.sf-container {
    display: flex;
    gap: 55px;
    max-width: 1440px;
    min-height: 1060px;
    width: 95%;
    margin: 100px auto 0;
}

.feature-info {
    width: 45%;
}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 22px;
}

.sub-feature-info {
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
}

.feature-info-img {
    width: 55%;
}

.feature-info-img {
    background-image: url(../images/architect.png);
    background-size: 708px 982px;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    align-items: flex-end;
}

.feature-info-btn {
    margin-bottom: 10px;
    
}

.feature-info-btn p {
    font-size: 3.9em;
}

.sf-info-description {
    padding: 10px 0;
}

/* ---------fact start here--------- */
.fact-container,
.sponsor-container,
.main-footer,
.extra-section {
    max-width: 1440px;
    width: 100%;
    margin: 100px auto 0;
}

.fact-container>.primary-description {
    max-width: 542px;
    width: 90%;
}

.facts {
    display: flex;
    justify-content: space-around;
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 242px;
    width: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
    margin-top: 70px;
}

/*--------------- Extra animation------------ */
@keyframes slider {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgba(255, 144, 14, 0.1);
    }
}

/* -----------End of Animation-------------- */
.fact:hover {
    transform: scale(1.2);
    animation: slider 0.5s ease-in-out 0s 1 normal forwards;
}

.fact img {
    height: 46px;
    width: 46px;
}

.fact-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.fact>.primary-description {
    padding: 0;
}

/* -------------Sponsors Style Here but container style in fact container------------ */
.sponsor-container {
    margin-bottom: 100px;
    width: 95%;
}

.sponsor-info {
    max-width: 545px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sponsor-logo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.sponsor-logo img {
    filter: grayscale(100%);
    width: 160px;
}

/*--------------- here starts footer style------------- */
footer {
    /* height: 400px; */
    min-height: 900px;
    background-color: darkslateblue;
}

.main-footer {
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin-top: 0;
    /* margin-bottom: 100px; */
}

/* -------------Here is an extra section added in footer------------- */
.extra-section {
    display: flex;
    justify-content: center;
    /* align-items: enter; */
    padding-top: 50px;
    gap: 100px;
}

.footer-title,
.footer-description {
    color: white;
    max-width: 80%;
}

.number,
.email,
.reminder {
    color: #ffffff;
    padding: 10px 0;
}

.social-site a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    padding: 10px;
}

.customer-info input {
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    width: 80%;
    padding: 20px 30px;
    margin: 10px 0;
}

.customer-info>.primary-btn {
    margin-top: 10px;
    font-size: 20px;
}